<h2>{{ title }}</h2>
<div class="well">
  <form name="propertyForm" class="form-horizontal" role="form" ng-submit="propertyForm.$valid && processForm()" novalidate>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Property Type</label>
      <div class="col-sm-6">
        <select name="propertyType" required ng-model="property.property_type" class="form-control" ng-options="propertyType.value as propertyType.name for propertyType in propertyTypes">
          <option value selected>Select..</option>
        </select>
        <p class="help-block" ng-if="propertyForm.propertyType.$error.required && propertyForm.$submitted">
          The Property type field is required.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="address" class="col-sm-3 control-label">Address</label>
      <div class="col-sm-8">
        <input ng-model="property.address" type="text" class="form-control" name="address" placeholder="Address" required>
        <span class="help-block" ng-if="propertyForm.address.$error.required && propertyForm.$submitted">
          The Address field is required.
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="address" class="col-sm-3 control-label">Rent</label>
      <div class="col-sm-4">
        <input ng-model="property.amount" type="text" class="form-control" name="amount" placeholder="Rent per week" required min="10">
        <span class="help-block" ng-if="propertyForm.amount.$error.required && propertyForm.$submitted">
          The Rent field is required.
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-8">
        <textarea ng-model="property.description" class="form-control" rows="5" name="description" placeholder="Property description" required>
        </textarea>
        <span class="help-block" ng-if="propertyForm.description.$error.required && propertyForm.$submitted">
          The Description field is required.
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="address" class="col-sm-3 control-label">Date available</label>
      <div class="col-sm-5">
        <input ng-model="property.available_at" type="text" class="form-control" name="date_available" placeholder="yyyy-mm-dd" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Beds</label>
      <div class="col-sm-3">
        <select class="form-control" ng-model="property.beds" ng-options="bed.value as bed.number for bed in beds" required></select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Bathrooms</label>
      <div class="col-sm-3">
        <select class="form-control" ng-model="property.bathrooms" ng-options="bathroom.value as bathroom.number for bathroom in bathrooms" required></select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Garage Spaces</label>
      <div class="col-sm-3">
        <select class="form-control" ng-model="property.car_spaces" ng-options="garageSpace.value as garageSpace.number for garageSpace in garageSpaces">
          <option value selected>Select..</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <div class="checkbox">
          <label>
            <input ng-model="property.smoking_allowed" type="checkbox"> Smoking allowed
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input ng-model="property.pets_allowed" type="checkbox"> Pets allowed
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block">{{ submitButtonTitle }}</button>
      </div>
    </div>
  </form>
</div>