<div class="row">
  <div class="col-sm-3">
    <div class="well">
      <p class="h5">Refine Property By:</p>
      <form role="form">
        <div class="form-group">
          <span for="exampleInputEmail1">Address</span>
          <input type="text" ng-model="filter.address" class="form-control input-sm" id="address" placeholder="Address">
        </div>
        <div class="form-group">
          <span for="exampleInputEmail1">Beds</span>
           <select class="form-control input-sm" ng-model="filter.beds" ng-options="bed.value as bed.number for bed in beds">
             <option value="" selected>Select..</option>
           </select>
        </div>
        <div class="form-group">
          <span for="exampleInputEmail1">Bathrooms</span>
          <select class="form-control input-sm" ng-model="filter.bathrooms" ng-options="bathroom.value as bathroom.number for bathroom in bathrooms">
            <option value="" selected>Select..</option>
          </select>
        </div>
        <div class="form-group">
          <span for="exampleInputEmail1">Garage spaces</span>
          <select placeholder="Select.." class="form-control input-sm" ng-model="filter.car_spaces" ng-options="garageSpace.value as garageSpace.number for garageSpace in garageSpaces">
            <option value selected>Select..</option>
          </select>
        </div>
        <button class="btn btn-default btn-sm" ng-click="clearFilters()">Clear</button>
      </form>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="well" dir-paginate="property in properties | filter:filter | itemsPerPage: propertiesPerPage" total-items="totalProperties">
    <div class="row">
      <div class="col-sm-4">
          <a href="#/properties/{{property.id}}">
            <img class="img-responsive img-thumbnail" ng-repeat="photo in property.photos | limitTo: 1" ng-src="{{ getPropertyImage(photo) }}">
          </a>
      </div>
      <div class="col-sm-8">
        <div class="listing-info">
          <div class="list-address">
            <div class="row">
              <div class="col-sm-9">
                <p><a href="#/properties/{{property.id}}"><strong>{{ property.address }}</strong></a></p>
              </div>
              <div class="col-sm-3">
                <p class="text-right rent">${{ property.amount }} per week</p>
              </div>
            </div>
          </div>
          <ul class="list-inline property-type">
            <li><span>{{ property.property_type | ucfirst }}</span></li>
            <li><img src="icon/bed.png" width="22"> {{ property.beds }}</li>
            <li><img src="icon/bath.png" width="22"> {{ property.bathrooms }}</li>
            <li ng-show="isCarSpaceAvailable(property.car_spaces)"><img src="icon/car.png" width="22"> {{ property.car_spaces }}</li>
          </ul>
          <p>
            {{ property.description | strLimit : 250 }}
          </p>
          <p class="text-right">
            <a href="#/properties/{{property.id}}" class="btn btn-primary">Details</a>
          </p> 
        </div>
      </div>
    </div>
    </div>
    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
  </div>
</div>
