<div class="well photo-viewer">
  <div class="row">
    <div class="col-sm-10 col-xs-9">
      <div class="main-photo">
        <img class="img-responsive img-rounded" ng-src="{{ mainImageUrl }}">
      </div>
    </div>
    <div class="col-sm-2 col-xs-3">
      <div class="thumb">
        <a href ng-repeat="photo in property.photos | limitTo: 5" ng-click="setImage(photo.name)">
          <img class="img-responsive img-thumbnail"  ng-src="images/{{ photo.name }}.jpg">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>